<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itShuai.mapper.AdminMapper">

    <select id="LoginAsAdmin" resultType="com.itShuai.pojo.Admin">
        select * from couriersystem.admin where Account=#{Account} and Password=#{Password};
    </select>
    <select id="FindAllDelivery" resultType="com.itShuai.pojo.Delivery">
        select * from couriersystem.delivery;
    </select>
    <select id="selectDeliveryByDeliveryID" resultType="com.itShuai.pojo.Delivery">
        select * from couriersystem.delivery,user where delivery.DeliveryId=#{DeliveryId} and user.UserId = delivery.RecipientId;
    </select>
    <update id="ChangeDeliveryStatus">
        update couriersystem.deliverystatus set DeliveryStatus=#{DeliveryStatus} where DeliveryId=#{DeliveryId};
    </update>
    <delete id="DeleteUserById">
        delete from user where UserId=#{UserId};
    </delete>
    <select id="selectUserByUserId" resultType="com.itShuai.pojo.User">
        select * from user where UserId=#{UserId}
    </select>
    <delete id="deleteDeliveryStatus">
        delete from deliverystatus where DeliveryId=#{DeliveryId};
    </delete>
    <delete id="deleteDeliveryById">
        delete from delivery where DeliveryId=#{DeliveryId};
    </delete>
    <select id="selectCourierById" resultType="com.itShuai.pojo.Courier">
        select * from courier where CourierId=#{CourierId}
    </select>
    <update id="updateCourierById">
        update courier set Name=#{Name},Sex=#{Sex},Phone=#{Phone},StationId=#{StationId},Password=#{Password} where CourierId=#{CourierId}
    </update>
    <insert id="addCourier">
        insert into courier(Name, Sex, Phone, StationId, Password) values (#{Name},#{Sex},#{Phone},#{StationId},#{Password})
    </insert>
</mapper>
