<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itShuai.mapper.CourierMapper">
    <select id="CourierLogIn" resultType="com.itShuai.pojo.Courier">
        select CourierId,StationId,Name,Sex,Phone,Password from courier
        where  Phone = #{Phone} and Password = #{Password};
    </select>
    <select id="selectDeliveryByDeliveryId" resultType="com.itShuai.pojo.Delivery">
        select *
        from delivery
        where DeliveryId = #{DeliveryId};
    </select>
    <select id="selectDeliveryStatusByCourierId" resultType="com.itShuai.pojo.DeliveryStatus">
        select *
        from DeliveryStatus
        where CourierId = #{CourierId};
    </select>
    <update id="getDelivery">
        update Delivery set DeliveryId = #{CourierId} where couriersystem.courier.CourierId = NULL;
    </update>
    <update id="setDeliveryStatus">
        update DeliveryStatus set DeliveryStatus = '是' where DeliveryId = #{DeliveryId};
    </update>
    <delete id="deleteCourierById">
        delete from courier where CourierId=#{CourierId};
    </delete>
</mapper>