<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itShuai.mapper.DeliveryMapper">

    <select id="GetDeliveryInfo" resultType="com.itShuai.pojo.Delivery">
        select * from Delivery where DeliveryId=#{DeliveryId};
    </select>


</mapper>
