<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itShuai.mapper.UserMapper">

    <select id="selectUserId" resultType="com.itShuai.pojo.User">
        select * from user where UserId=#{UserId};
    </select>
    <select id="LoginAsUser" resultType="com.itShuai.pojo.Account">
        select * from account where Phone=#{Phone} and Password=#{Password};
    </select>
    <insert id="RegisterUserAccount">
        insert into user(sex, name, address) VALUES (#{Sex},#{Name},#{Address});
        insert into account (Phone,Password,UserId) values(#{Phone},#{Password},#{UserId});
    </insert>
    <select id="AllRecDelivery" resultType="com.itShuai.pojo.Delivery">
        select * from delivery where RecipientId=#{RecipientId};
    </select>

</mapper>